[class^="flag-"],[class*=" flag-"] {display: inline-block;margin-top:5px;width: 16px;height: 15px;line-height: 11px;vertical-align: text-top;background-image: url("../images/flags.png");background-repeat: no-repeat;*margin-right: .3em}
[class^="flag-"]:last-child,[class*=" flag-"]:last-child {*margin-left: 0 }
.flag-id{background-position:-36px -1147px}
.flag-en{background-position:-36px -434px}
